@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Most awesome shit chat there is.</p>
    <p>Create a new account <a href="/Register/Register">here</a></p>
    or <a href="/Login/Login">log in</a>.
</div>
